.hljs {
  display: block;
  overflow-x: auto;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
  /* box-shadow: 1px 1px 5px rgb(26, 24, 24); */
  border-left: 5px solid #04396e;
  line-height: 1.3;
  padding: 0.5em;
  background: rgb(34, 34, 34);
  color: #ebebeb;
  margin-bottom: 1rem;
}

.code-lang {
  float: right;
  overflow: hidden;
  padding: 0.3em 0.5em;
  background: rgb(34, 34, 34);
  border-radius: 0.3em 0.3em 0 0;
  color: var(--light-font-color);
  max-width: 50%;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  font-family: unset;
  font-size: 1.1rem;
}

/* Comments */
.hljs-comment,
.hljs-quote {
  color: #4c8b43;
}

/* Lanaguage reserved keywords */
.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #525dfa;
}

/* Strings */
.hljs-string {
  color: #e49560;
}

/* .hljs-subst {
    color:red;
} */

.hljs-link,
.hljs-regexp {
  color: #b64545;
}

.hljs-name,
.hljs-section,
.hljs-tag,
.hljs-title {
  color: #cecc5f;
}

.hljs-class,
.hljs-title,
.hljs-doctag {
  text-decoration: none;
}

.hljs-bullet,
.hljs-number,
.hljs-symbol {
  color: #e6f3b8;
}

.hljs-params,
.hljs-template-variable,
.hljs-variable {
  color: #b0d2fc;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #e684ff;
}

.hljs-formula {
  background-color: #0e2231;
  color: #f8f8f8;
  font-style: italic;
}

.hljs-addition {
  background-color: #253b22;
  color: #f8f8f8;
}

.hljs-deletion {
  background-color: #420e09;
  color: #f8f8f8;
}
.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}
