.footer {
  padding: 2rem 0;
  background-color: var(--footer-color);
  font-size: 1.4rem;
}

.tech-used {
  flex-wrap: wrap;
}

.tech-icon {
  display: inline-block;
  vertical-align: middle;
  margin: 0 1rem;
}

.tech-icon path {
  fill: var(--light-font-color);
}

.social-media-wrap {
  flex-wrap: wrap;
  border-bottom: 1px solid #fff;
  padding: 1rem 0;
}

.social-icon-link {
  color: #fff;
  margin: 0 0.5rem;
  font-weight: 400;
  font-size: 1.75rem;
}

.social-icon-link:hover {
  color: #767676;
  transform: translateY(-1.2px);
}

.website-rights small {
  flex-wrap: wrap;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #fff;
  padding: 1rem 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}
