:root {
  --font-color: #495057; /* used at html, h3, h4 */
  --heading-color: #343a40; /* headings tag */
  --background: silver; /* used at body, .container-root tag */
  --dark-font-color: #1b1d25;
  /* --medium-font-color: #60656c; */
  --light-font-color: #afadad;
  --light-background: #f1f4f8; /* used at .container, h2, h4 */
  --light-background-hover: #e1e6ed;
  --border: #d6d9de;
  --link-color: #5183f5;
  --link-color-darker: #364fc7;
  --navbar-color: #1c2237;
  --navbar-font-color: #f3f3f3;
  --footer-color: #1c2237;
  --blockquote-background: #d0d4de;
  /* --transparent-text: rgba(0, 0, 0, 0.7); */
  /* --transparent-bg: rgba(0, 0, 0, 0.05); */
  /* --light-transparent-bg: rgba(255, 255, 255, 0.1); */
  /* --code-font-family: Menlo, 'Roboto Mono', Courier New, monospace; */
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, Arial,
    Noto Sans, sans-serif, Apple Color Emoji, Segoe UI, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--font-color);
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
}

a {
  /* color: var(--link-color) !important; */
  text-decoration: none;
  font-weight: 700;
  border-color: transparent;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

/* @media screen and (min-width: 800px) {
  section > h2 {
    margin-bottom: 2rem;
  }
} */

/* Headings */
h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1.5rem 0;
  font-weight: 700;
  line-height: 1.2;
  color: var(--heading-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child) {
  margin-top: 3rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 4px solid var(--light-background);
}

h2 code {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem;
  color: var(--font-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 code {
  font-size: 1.4rem !important;
}

h4 {
  font-size: 1.3rem;
  color: var(--font-color);
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
}

h5 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



::selection {
  background: #3b5bdb;
  color: #fff;
}

/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*='language-'],
pre[class*='language-'] {
  color: #cacbce;
  /* background: red; */
  font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace;
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
  tab-size: 4;
  hyphens: 'none';
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -moz-tab-size: 4;
  -o-tab-size: 4;
}
