.navbar {
  top: 0;
  left: 0;
  position: sticky;
  background: var(--navbar-color);
  box-shadow: 0 3px 13px rgb(100 110 140 / 10%),
    0 2px 4px rgb(100 110 140 / 15%);
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  font-family: 'Sora', sans-serif;
  height: 70px;
}

.navbar-wrapper-flexbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.navbar a {
  margin: 0 0.25rem;
  font-weight: 400;
  white-space: nowrap;
  color: var(--navbar-font-color);
}

.navbar a:hover,
.navbar a[aria-current='page'] {
  background: var(--bg-color-light);
  color: var(--font-color-dark);
  border-radius: 0.5rem;
}

.navbar a.brand {
  border: none;
  padding: 0.5rem;
  font-weight: 500;
  white-space: nowrap;
  line-height: 1;
}

.navbar a.brand:hover {
  background: var(--bg-color-light) !important;
}

.nav-brand {
  flex-wrap: wrap;
  min-width: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.nav-brand span {
  display: inline-block !important;
}

.nav-brand-icon {
  display: inline-block !important;
  margin-right: 0.5rem;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.nav-links {
  align-items: center;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #777474;
}

.nav-menu-icon {
  display: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

.nav-menu-icon svg {
  color: var(--navbar-font-color);
  margin: auto;
  display: inline-block !important;
}

#nav-scrim {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: rgb(0, 0, 0, 0.5);
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear;
}

@media screen and (min-width: 320px) {
  .navbar-wrapper-flexbox {
    padding: 0.5rem 0;
  }
  .navbar a {
    font-size: 1.1rem;
  }
  .nav-menu-icon {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 768px) {
  .navbar {
    position: static;
    box-shadow: none;
  }
  .navbar-wrapper-flexbox {
    padding: 1rem 0;
  }
  .navbar a {
    font-size: 1.2rem;
  }
  .nav-menu-icon {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .navbar-wrapper-flexbox {
    padding: 1.25rem 0;
  }
  .navbar a {
    font-size: 1.5rem;
  }
  .nav-menu-icon {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background: var(--navbar-color);
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 70px;
    left: 0;
    right: 0;
    bottom: calc(100vh - 70px);
    line-height: 0;
    overflow-y: hidden;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  .nav-menu.active {
    bottom: 0;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    overflow-y: scroll;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 2rem;
    justify-content: space-evenly;
  }

  .nav-links {
    text-align: center;
    padding: 1rem;
    display: table;
  }

  .nav-links:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .nav-menu ul li {
    margin: 1rem 0;
  }

  #nav-scrim.visible {
    visibility: visible;
    opacity: 1;
  }
}
