.main-article {
  padding-bottom: 0.5rem;
}


/* ------ main article header ------ */
.main-article-header {
  padding: 0.5rem;
}

/* ------ main article header -> title ------ */
.main-article-header .post-title {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1.1;
}

/* .main-article-header .post-date time {
  color: ;
} */

.main-article-header .post-image {
  align-items: center;
  justify-content: center;
  display: none;
}

.main-article-header .post-image img {
  width: auto;
  max-width: 100% !important;
  height: auto;
}

.main-article-header .post-author {
  display: flex;
  align-items: center;
}

.main-article-header .post-author .author-avatar {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
}

.main-article-header .post-author .author-avatar img {
  width: 100%;
  height: 100%;
  vertical-align: center;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-article-header .post-author h4 {
  margin: 0;
}

.main-article-header .post-tags {
  display: flex !important;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 0;
}

.main-article-header .post-tags h6 {
  display: inline;
  font-weight: 500;
  background: var(--light-background-hover);
  margin: 0.25rem 0.5rem 0.25rem 0;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  line-height: 1.1;
  font-weight: bold;
  color: var(--font-color);
  font-size: 0.9rem;
}

/* ------ main article header -> meta ------ */
.main-article-header .post-meta {
  margin-top: 1.5rem;
  padding: 1rem 0;
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--light-font-color);
}

/* ------ main article body ------ */
.main-article-body {
  font-size: 1.05rem;
}

@media screen and (min-width: 768px) {
  .main-article-header .post-meta {
    font-size: 1rem;
  }
  .main-article-header .post-title {
    font-size: 2.5rem;
  }
  .main-article-body {
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 992px) {
  .main-article-header .post-meta {
    font-size: 1.1rem;
  }
  .main-article-body {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 1200px) {
  .main-article-header .post-meta {
    font-size: 1.2rem;
  }
  .main-article-body {
    font-size: 1.5rem;
  }
}
