.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-wrap-center {
  display: flex !important;
  align-items: center;
  flex-wrap: wrap;
}

.jc-center {
  justify-content: center;
}

.jc-space {
  justify-content: space-between;
}
